{{> nav/navbar}}

<div id="wrapper">
	<h1>Say Something About Your Favorite Games and Bring Order To This Madness!</h1>
	{{!-- <div class="row"> --}}

		<div id="articles"  >
			{{#each dbGame}} {{!-- {{#if something}} --}} {{> games/game-list}} {{!-- {{/if}} --}} {{/each}}
		</div>
	{{!-- </div> --}}
</div>